#Searchbar
{
	margin-top:5px;
}

#NbRes
{
	margin-top: 5px;
	margin-bottom: 10px;
	text-decoration: underline;
}

.NomRestau
{
	color:  darkblue: ;
	font-size: 20px	;
}


.ContenuLien
{
	margin-top:1em;
	margin-left: 4em;
	margin-bottom:2em; 
}


body
{
	background-color: #EAEAEA;
}

label
{
	font-size: 15px;
}

.UnResultat
{
	margin-top: 2em;
	border-bottom: 2px solid darkgrey;
}

span.NomRestau
{
	cursor:pointer;
    color:darkblue;
}

span.NomRestau:hover 
{
     text-decoration:none;
     text-shadow: 1px 1px 1px #555;
}