body
{
	background-color:  #F4F4F4;
}

.phrase
{
	margin-top:15px;
}

.ligne-verticale
{
	border-bottom: 2px solid darkgrey;
}



img
{
	width:90%;
	max-height: 600px;

}

#Imagerestau
{
	margin-bottom: 3em;
}

#BoxCommentaires
{
	border :1px solid 
}

