body
{
	background-color:  #F4F4F4;
}

.phrase
{
	margin-top:15px;
}

.ligne-verticale
{
	border-bottom: 2px solid darkgrey;
}



img
{
	width:75%;
	max-width: 1100px!important;
	max-height: 500px;

}

#Imagerestau
{
	margin-bottom: 3em;
}

#BoxCommentaires
{
	//border :1px solid grey;
}

hr
{
	border-color: grey;
}

#Sur10, #Moyenne
{
	font-family: impact;
}

#Select
{
	margin-bottom: 12em;
}